<!DOCTYPE html>
<html ng-app="app" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <div class ="container" ng-controller="FormController as list">
        <form class="form" ng-submit="list.addTask(task);">
           <h1>TODO List</h1>
           <p>A place to store things you have to do!</p>
        	<input type="text" placeholder=" Filter your to-dos" ng-model="search">

            <ol>
         
                <li ng-repeat="listItem in list.taskList | filter:search track by $index ">{{listItem}}<i class="material-icons" class="cancel" ng-click="list.removeTask($index)">close</i></li>

            </ol>
            <input id="addInput" type="text" placeholder=" Add your to do" ng-model="task">
           
            <button class ="addTask">Add</button>
        </form>
    </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
        <script src="module.js"></script>
        <script src="controller.js"></script>
</body>

</html>